form{
	margin-top: 300px;
	margin-left: 400px;
	height: 400px;
	width: 500px;
	background-color: #46A0A2;
	border-radius: 30px;
	padding: 30px 30px 30px 30px;
}
.hola{
	padding-top: 10px;
    text-align: center;
}
footer{
  font-family: 'oswald';
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  
  
}

.grade_title{
	padding-bottom: 20px;
	font-family: oswald;
}